/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --form-color: #E4E9F7;
    --crt-btn-color: #F6F5FF;

    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

section {
  overflow-y: scroll;
}

/* For each webpage's title */
.header-title {
  font-size: 28px;
}

.custom-font-size {
  font-size: 14px;
}

/* ============ For Responsive echarts Start ============ */
#myChart,
#lateReportChart,
html,
body {
  width: 100%;
}
#myChart,
#lateReportChart {
  height: 400px;
}
/* ============ For Responsive echarts End ============ */

/* ========================================== Echarts Dropdown CSS Start ========================================== */

/* Add this CSS for centering the dropdown container */
#chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
  }

/* ============ Yearly View echarts CSS Start ============ */

/* Updated styles for the input box */
.selected-year {
  padding: 5px 10px; /* Add padding to the input box */
  width: 120px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}

.only-year-list {
  list-style: none;
  padding: 0;
  width: 8em; /* Set a fixed width */
}

.only-year-list li {
  text-align: center;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
}

.only-year-list li:hover {
  background-color: #f1f1f1;
}

/* ============ Yearly View echarts CSS End ============ */

/* ============ Monthly View echarts CSS Start ============ */

/* Updated styles for the input box */
.selected-value {
  padding: 5px 10px; /* Add padding to the input box */
  width: 160px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}
  
  .year-list-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 170px;
    white-space: nowrap; /* Prevent year options from wrapping */
  }
  
  .year-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 10.5em; /* Set a fixed width */
  }
  
  .year-list li {
    text-align: center;
    padding: 5px 10px 5px 5px;
    cursor: pointer;
  }
  
  .year-list li:hover {
    background-color: #f1f1f1;
  }
  
  .month-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
  }
  
  .month-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .month-list li {
    padding: 5px;
    cursor: pointer;
  }
  
  .month-list li:hover {
    background-color: #f1f1f1;
  }
  
  /* Added styles to position the month wrapper below the selected year */
  .custom-dropdown .year-label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }

/* ============ Monthly View echarts CSS End ============ */

/* ========================================== Echarts Dropdown CSS End ========================================== */

/* ========================================== History Table Filter CSS Start ========================================== */

.filter-dropdown {
  position: relative;
  display: inline-block;
}

/* Updated styles for the input box */
.filter-value {
  padding: 5px 10px; /* Add padding to the input box */
  width: 160px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}
  
/* Updated styles for the input box */
.filter-year {
  padding: 5px 10px; /* Add padding to the input box */
  width: 120px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}

.filter-year-list-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 170px;
  white-space: nowrap; /* Prevent year options from wrapping */
}

.filter-year-list {
  list-style: none;
  padding: 0;
  width: 7.5em; /* Set a fixed width */
}

.filter-year-list li {
  text-align: center;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
}

.filter-year-list li:hover {
  background-color: #f1f1f1;
}

/* ========================================== History Table Filter CSS End ========================================== */

/* ========================================== Contract Table Filter CSS Start ========================================== */
.contract-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =============== Contract Dropdown Filter CSS Start ============== */

/*  Start Year Dropdown ============================================ */
.start-year-dropdown {
  position: relative;
  display: inline-block;
}

/* Updated styles for the input box */
.start-year-value {
  padding: 5px 10px; /* Add padding to the input box */
  width: 160px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}
  
/* Updated styles for the input box */
.start-year {
  padding: 5px 10px; /* Add padding to the input box */
  width: 120px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}

.start-year-list-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 170px;
  white-space: nowrap; /* Prevent year options from wrapping */
}

.start-year-list {
  list-style: none;
  padding: 0;
  width: 7.5em; /* Set a fixed width */
}

.start-year-list li {
  text-align: center;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
}

.start-year-list li:hover {
  background-color: #f1f1f1;
}

/* End Year Dropdown ================================ */
.end-year-dropdown {
  position: relative;
  display: inline-block;
}

/* Updated styles for the input box */
.end-year-value {
  padding: 5px 10px; /* Add padding to the input box */
  width: 160px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}
  
/* Updated styles for the input box */
.end-year {
  padding: 5px 10px; /* Add padding to the input box */
  width: 120px; /* Set a fixed width for the input box */
  max-width: 100%; /* Make the input box responsive */
  box-sizing: border-box; /* Include padding and border in the total width */
}

.end-year-list-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 170px;
  white-space: nowrap; /* Prevent year options from wrapping */
}

.end-year-list {
  list-style: none;
  padding: 0;
  width: 7.5em; /* Set a fixed width */
}

.end-year-list li {
  text-align: center;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
}

.end-year-list li:hover {
  background-color: #f1f1f1;
}

/* ============================= Contract Dropdown Filter CSS End ======================== */

/* ========================================== Contract Table Filter CSS End ========================================== */

/* ========================================== Keyword Tag CSS Start ========================================== */

.tag-container {
  display: inline-block;
  background-color: #a9e5fd;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-close {
  color: #888;
  cursor: pointer;
}
/* ========================================== Keyword Tag CSS End ========================================== */

/* ============ Profile Picture CSS Start ============ */

/* Vertically align the user photo with the username container */
.userBtn {
    display: flex;
    align-items: center;
}

.username-container {
    display: inline-block;
    white-space: nowrap;
}

#userPhoto {
    height: 45px;
    width: 45px;
}

/* ============ Profile Picture CSS End ============ */


/* ============ Toolbar CSS Start ============ */

.dropdownCustom {
    display: inline-block;
  }  

/* ============ Toolbar CSS End ============ */

  .btn-custom {
    background-color: #695CFE !important;
    color: white !important;
    align-items: center;
    appearance: none;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -2px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }

  .userBtn {
    color: #000;
  }

  .userOption {
    width: fit-content; /* Set the width to "fit-content" to fit the content */
  }

  /* ============ Date Range Input CSS Start ============ */
  /* Custom CSS to style the connecting box */
.bridge-text {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
}

/* Adjust the width and alignment as needed */
#startDate, #endDate {
  width: 180px;
}
  /* ============ Date Range Input CSS End ============ */

/* CSS for client name search input */
.clientNameList {
    background-color: var(--primary-color-light);
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 100%; /* Position the div below the input field */
    left: 0;
    right: 0;
    z-index: 2; /* Set z-index to 1 to ensure it appears above the input */
}

.clientNameList .clientNameOption {
    transition: 0.5s ease;
}

.clientNameList .clientNameOption:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    cursor: pointer;
}

/* CSS for assignee search input */
#assigneeList {
    background-color: var(--primary-color-light);
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 100%; /* Position the div below the input field */
    left: 0;
    right: 0;
    z-index: 1; /* Set z-index to 1 to ensure it appears above the input */
}

#assigneeList .assigneeOption {
    transition: 0.5s ease;
}

#assigneeList .assigneeOption:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    cursor: pointer;
}

/* ==================================================================================== */

/* ============== Top Navbar ============== */

.custom-navbar {
  display: flex;
  height: 4.375rem;
}

.top-nav-head {
  display: flex;
}

.hiddenSidebarBtn {
  display: none;
}

.offcanvas {
  min-height: 100vh;
  max-width: 190px; /* Set the width of the offcanvas */

}

.offcanvas.showing {
  transform: translateX(-100%);
  transition: var(--tran-02);
}

@media (max-width: 480px) {

  #sidebar {
    display: none;
  }

  .hiddenSidebarBtn {
    display: block;
  }

  .navbar-brand {
    font-size: 15px;
  }

  #userPhoto {
      height: 35px;
      width: 35px;
  }

  .username-container {
      display: inline;
      white-space: normal;
  }

  #username {
	font-size: 10px;
  }
}


@media (max-width: 992px) {

  #sidebar {
    display: none;
  }

  .hiddenSidebarBtn {
    display: block;
  }
}

@media (min-width: 992px) {

  #myOffcanvas {
    display: none;
  }
}

 /* ============== Sidebar Navbar ============== */
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #222C35;
    --sidebar-color: #37404a;
    --navbar-color: #37404a;
    --primary-color: #5E6B77;
    --primary-color-light: #46525E;
    --toggle-color: #fff;
    --text-color: #BDBEBF;
    --form-color: #37404a;
    
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 190px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

#myOffcanvas{
    background: var(--sidebar-color);
    transition: var(--tran-05);
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

#myOffcanvas li{
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#myOffcanvas .icon{
    min-width: 50px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

#myOffcanvas .text,
#myOffcanvas .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

#myOffcanvas .text{
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

/* ======================================== Side Header Start ======================================== */
.sidebar header{
    position: relative;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
}

#myOffcanvas header{
    position: relative;
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

#myOffcanvas header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 160px;
}

#myOffcanvas header .image img{
    width: 130px;
}

body.dark .sidebar {
    border-right: 2px solid #728190;
}

body.dark #myOffcanvas {
    border-right: 2px solid #728190;
}

/* ================================ Navbar Dark Mode Start ================================ */

body.dark .navbar-color {
    background-color: var(--navbar-color) !important;
    border-color: #E4E9F7;
}

body.dark .navbar i,
body.dark .navbar .navbar-brand {
    color: var(--text-color);
}

body.dark .userColor {
    color: var(--navbar-color);
}

/* ================================ Navbar Dark Mode End ================================ */

/* ================================ Form Dark Mode Start ================================ */

body.dark .wrapper {
    background-color: var(--form-color);
}

body.dark .wrapper .input-box {
    border: 1px solid var(--text-color);
}

body.dark .wrapper .input-box label {
    background-color: var(--form-color);
}

body.dark .wrapper .input-box input,
body.dark .wrapper .input-box label,
body.dark .wrapper .input-box i{
    color: var(--text-color);
}

/* ================================ Form Dark Mode End ================================ */

/* ======================================== Side Header End ======================================== */

/* ======================================== Side Menu Start ======================================== */

.sidebar .menu-bar{
    margin-top: 40px;
}

#myOffcanvas .menu-bar{
    margin-top: 40px;
}

.sidebar .menu-links {
    margin-top: 0.25rem;
    padding: 0px 0px;
}

#myOffcanvas .menu-links {
    margin-top: 0.25rem;
    padding: 0px 0px;
}


.sidebar li a{
    height: 100%;
    width: 100%;
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

#myOffcanvas li a{
    height: 100%;
    width: 100%;
    list-style: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

#myOffcanvas li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

#myOffcanvas li a:hover .icon,
#myOffcanvas li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

body.dark #myOffcanvas li a:hover .icon,
body.dark #myOffcanvas li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

#myOffcanvas .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.menu-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.menu-bar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
/* ======================================== Side Menu End ======================================== */

/* ======================================== Dark Mode Switch Start ======================================== */

.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

#myOffcanvas .menu-bar .hidden-mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 40px;
    width: 40px;
}

.menu-bar .hidden-mode .hidden-sun-moon{
    height: 40px;
    width: 40px;
}

.menu-bar .mode .mode-text {
    font-size: 12px;
}

.menu-bar .hidden-mode .hidden-mode-text {
    font-size: 12px;
}

.mode .sun-moon i{
    position: absolute;
}

.hidden-mode .hidden-sun-moon i{
    position: absolute;
}

.mode .sun-moon i.sun{
    opacity: 0;
}

.hidden-mode .hidden-sun-moon i.hidden-sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}

body.dark .hidden-mode .hidden-sun-moon i.hidden-sun{
    opacity: 1;
}

body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

body.dark .hidden-mode .hidden-sun-moon i.hidden-moon{
    opacity: 0;
}

.sidebar .menu-bar .bottom-content {
    margin-bottom: 3.75rem;
}

#myOffcanvas .menu-bar .bottom-content {
    margin-top: 5rem;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.menu-bar .bottom-content .hidden-toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.hidden-toggle-switch .hidden-switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.hidden-switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

body.dark .hidden-switch::before{
    left: 20px;
}

/* ======================================== Dark Mode Switch End ======================================== */

/* ======================================== Client WebPage Start ======================================== */

#sortable {
    margin: 0;
    padding: 0;
  }

  .list-item {
    margin-right: 10px;
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    cursor: move;
  }
/* ======================================== Client WebPage End ======================================== */


/* ======================================== Dashboard Webpage Start ======================================== */

.home-engineer{
    position: absolute;
    top: 0;
    left: 190px;
    height: 100vh;
    width: calc(100% - 190px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

@media (min-width: 992px) {

  .home{
    position: absolute;
    top: 0;
    left: 190px;
    height: 100vh;
    width: calc(100% - 190px);
    background-color: var(--body-color);
    transition: var(--tran-05);
  }
}

@media (max-width: 992px) {

  .home-engineer{
    position: unset;
    width:unset;
    top: 0;
    left: 190px;
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
  }
}

body.dark .home{
    color: var(--text-color);
}
/* ======================================== Dashboard Webpage End ======================================== */